@font-face {
    font-family: 'HondaC';
    src: url('../fonts/HondaC.woff2') format('woff2'),
        url('../fonts/HondaC.woff') format('woff'),
        url("../fonts/HondaC.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    outline: none;
    text-decoration: none;
}

body,html {
    height: 100%;
    font-family: 'HondaC', sans-serif;
    background-image: url('../img/bg.png');
    background-attachment: fixed;
    background-size: contain;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    background-image: url("../img/crusaders.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.no-img{
    background: none;
}
#index-header{
    background: linear-gradient(180deg, rgba(255, 206, 79, 0.45) 0%, rgba(217, 217, 217, 0) 100%);
}
.header{
    margin: 18px 0;
    font-size: 64px;
    line-height: 58px;
    background: linear-gradient(180deg, #800000 53.6%, #000000 146.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    font-weight: 400;
}

.header2 {
    margin-top: 5px;
    font-size: 30px;
    line-height: 90%;
    text-align: center;
    color: #680101;
    font-weight: 400;
}
.game-header{
    font-size: 28px;
    margin: 10px 0;
    line-height: 25px;
}
.saint_lend{
    text-align: center;
    background: linear-gradient(180deg, #800000 53.6%, #000000 146.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 13px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
}

.number {
    display: flex;
    align-items: center;
}
.number-minus, .number-plus, .number-players{
    width: 30px;
    height: 30px;
    margin: 18px 16px 0 16px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #680101;
    box-shadow: 0px 4px 14px rgba(123, 92, 12, 0.3);
    border-radius: 50%;

    position:relative;
    display:inline-block;
    vertical-align:middle;
}
.plus:before,
.plus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#000000;
}
.plus:before{
    width: 2px;
    margin: 5px auto;
}
.plus:after{
    margin: auto 5px;
    height: 2px;
}
.minus:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#000000;
    margin: auto 7px;
    height: 2px;
}

.number-players{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin: 18px 0 0 0;
    width: 45px;
    height: 45px;
}

.number-crusaders{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin: 18px 0 0 0;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #680101;
    box-shadow: 0px 4px 14px rgba(123, 92, 12, 0.3);
}
.button{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 14px rgba(123, 92, 12, 0.42);
    border-radius: 32px;
}

.start-btn{
    padding: 11px 54px 11px 54px;
    font-size: 20px;
    line-height: 90%;
    text-align: center;
    color: #680101;
    margin-top: 17px;
}
.count-btn{
    background: #680101;
    border: 1px solid #FDFDF5;
    border-radius: 20px;
    padding: 13px 41px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 18px;
    margin-top: 15px;
    margin-left: 35px;
}
.relic-btn{
    background: linear-gradient(270deg, #5C3C26 0.96%, #EDB160 16.46%, #A78C6E 33.61%, #E6B570 62.39%, #694A32 102.78%);
    border: 1px solid #FDFDF5;
    border-radius: 20px;
    padding: 11px 94px;
    color: #FFFFFF;
    font-size: 20px;
}
.back-btn{
    width: 125px;
    height: 31px;
    background: #680101;
    border: 1px solid #FDFDF5;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 18px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player{
    display: none;
    margin-bottom: 25px;
}
.player-name{
    padding-left: 10px;
    width: 225px;
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #680101;
    box-shadow: 0px 4px 14px rgba(123, 92, 12, 0.3);
    font-size: 20px;
    color: #000000;
}
.player_score{
    font-size: 30px;
    line-height: 27px;
    vertical-align: sub;
}
.crusaders-to-send{
    font-size: 20px;
    line-height: 18px;
}

.notification{
    position: fixed;
    bottom: -185px;
    transition: bottom .3s linear;
    z-index: 9999;
    
}
.notification-active{
    bottom: -10px;
}
.notification-text{
    position: absolute;
    font-size: 11px;
    text-align: center;
    color: #800000;
    left: 118px;
    bottom: 125px;
}
/* Модальное окно (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
}
  
/* Модальное содержание/коробка */
.modal-content {
    margin: 50% auto; 
    padding: 18px 26px 0 26px;
    width: 70%;

    background: #680101;
    border: 5px solid #FDFDF5;
    box-shadow: 0px 4px 14px rgba(123, 92, 12, 0.3);
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
}  

.modal-text {
    font-size: 21px;
    line-height: 17px;  
    margin: 20px 0 15px 0;
}
.winner-choice{
    font-size: 40px;
    line-height: 32px;
    margin-bottom: 20px;
}